.navbar{
    overflow: hidden;
    display: flex;
    gap: 73em;
}

.navbutton button{
    background-color: blue;
    color: aliceblue;
    height: 6vh;
    width: 12vh;
    border: 3px;
    border-style:outset;
    
    
}

.navbutton button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.681);
    font-size:medium;
}
.navbutton{
    display: flex;
    gap: 1em;
}
.navbar h1{
    color: blue;
    font-family: 'Montez', cursive;
    margin: 0%;
    
}
.navbar h1, p{
    margin-right: auto;
}

.navbar p{
    margin: 0%;
    font-family: 'Ubuntu Mono';
    font-size: small;
   
}


body{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  background-attachment: fixed;
}

.posts button{
   background-color: rgb(254, 254, 87);
   border: 2px;
   border-style: outset;
   height: 4vh;
   width: 15vh;
}
.posts{
    display: flex;
    position: fixed;
    top: 50%;
    left: 43%;
    
    gap: 1em;
}
